 <div class="modal-header">
	<h6 class="modal-title">选择器</h6>
</div>

<div class="modal-body">
 
  <div class="row">
		<!-- start of search row -->
		<div class="col-md-12">
			<form class="form-inline">
				<div class="row">
					<div class="col-md-12">
						<div class="panel-group panel-group-joined" id="accordion-test">
							<div class="panel panel-color panel-default">

								<!-- search start -->
								<div id="collapseOne" class="panel-collapse collapse in"
									aria-expanded="true">
									<div class="panel-body">

										<div class="row">
											<div class="form-group">
												<label>编号</label><input class="form-control input-sm" type="text"  />
											</div>

											<div class="form-group">
												<label>名称</label> <input class="form-control input-sm" type="text"  />
											</div>
											<button type="button" class="btn btn-info waves-effect waves-light input-sm" ng-click="search()">查询</button>
										</div>

									</div>
								</div>
								<!-- search end -->
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- End of search Row -->


			<!-- start of datagrid -->

			<div class="row">
				<div class="col-md-12">
					<div class="card-box">
						<table class="table table table-hover m-0">
							<thead>
								<tr>
									<th data-sort-initial="true" data-toggle="true">编号</th>
									<th>名称</th>
									<th data-hide="phone">所属分组</th>
									<th data-hide="phone, tablet">分组路径</th>
									<th data-hide="phone, tablet">描述</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="item in dataList">
									<td>{{item.code}}</td>
									<td>{{item.name}}</td>
									<td>{{item.parentId}}</td>
									<td>{{item.path}}</td>
									<td>{{item.remark}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6">
										<div class="text-right">
											<pagination id="sqlgroupselector" url="/search/sqlgroup/list" data="dataList" params="queryparams"></pagination>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end of datagrid -->
	</div>
 
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal"  ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light" ng-click="ok()">确定</button>
</div>
