<html xmlns:th="http://www.thymeleaf.org">
<div class="">
    <span class="item">位置</span>
    <i class="right angle divider icon"></i>
    <span class="item">控制台</span>
    <i class="right angle divider icon"></i>
    <span class="item">系统上下文</span>
</div>
<div class="ui pointing secondary menu">
    <a class="active  item" data-tab="controllers">Controllers</a>
    <a class="item" data-tab="webcomponents">Web Components</a>
</div>
<div class="ui active tab segment" data-tab="controllers">
    <table class="ui celled selectable right aligned table">
        <thead>
        <th class="left aligned" width="30%" th:text="Name"></th>
        <th class="left aligned" width="70%" th:text="Type"></th>
        </thead>
        <tbody>
        <tr th:each="controller : ${controllers}">
            <td class="left aligned" th:text="${controller.name}"></td>
            <td class="left aligned" th:text="${controller.type.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ui tab segment" data-tab="webcomponents">
    <h3 class="ui header">Handler Mappings</h3>
    <table class="ui celled selectable right aligned table">
        <thead>
        <tr>
            <th class="left aligned" width="30%" th:text="Name"></th>
            <th class="left aligned" width="70%" th:text="Type"></th>
        </tr>
        </thead>
        <tr th:each="handlerMapping : ${handlerMappings}">
            <td class="left aligned" th:text="${handlerMapping.name}"></td>
            <td class="left aligned" th:text="${handlerMapping.type.name}"></td>
        </tr>
    </table>
    <h3 class="ui header">View Resolvers</h3>
    <table class="ui celled selectable right aligned table">
        <thead>
        <tr>
            <th class="left aligned" width="30%" th:text="Name"></th>
            <th class="left aligned" width="70%" th:text="Type"></th>
        </tr>
        </thead>
        <tr th:each="viewResolver : ${viewResolvers}">
            <td class="left aligned" th:text="${viewResolver.name}"></td>
            <td class="left aligned" th:text="${viewResolver.type.name}"></td>
        </tr>
    </table>
</div>
</html>