<html xmlns:th="http://www.thymeleaf.org">
<div class="">
    <span class="item">位置</span>
    <i class="right angle divider icon"></i>
    <span class="item">控制台</span>
    <i class="right angle divider icon"></i>
    <span class="item">内存</span>
</div>
<div class="ui positive message icon" ng-show="visible">
    <i class="close icon"></i>

    <div class="content">
        <h3 class="header" th:text="提示"></h3>

        <p th:text="释放垃圾内存成功"></p>
    </div>
</div>
<div class="ui segment">
    <h3 class="ui header">堆内存使用状况</h3>

    <div class="ui segment">
        <table class="ui celled selectable right aligned table">
            <tr>
                <td class="left aligned" width="30%" th:text="初始内存"></td>
                <td class="left aligned" width="70%" th:text="${#numbers.formatDecimal(heap.init/1024,1,0)}+'(kb)'"></td>
            </tr>
            <tr>
                <td class="left aligned" th:text="已用内存"></td>
                <td class="left aligned" th:text="${#numbers.formatDecimal(heap.used/1024,1,0)}+'(kb)'"></td>
            </tr>
            <tr>
                <td class="left aligned" th:text="已分配内存"></td>
                <td class="left aligned" th:text="${#numbers.formatDecimal(heap.committed/1024,1,0)}+'(kb)'"></td>
            </tr>
            <tr>
                <td class="left aligned" th:text="最大内存"></td>
                <td class="left aligned" th:text="${#numbers.formatDecimal(heap.max/1024,1,0)}+'(kb)'"></td>
            </tr>
        </table>
    </div>
    <h3 class="ui header">非堆内存使用状况</h3>

    <div class="ui segment">
        <table class="ui celled selectable right aligned table">
            <table class="ui celled selectable right aligned table">
                <tr>
                    <td class="left aligned" width="30%" th:text="初始内存"></td>
                    <td class="left aligned" width="70%" th:text="${#numbers.formatDecimal(nonHeap.init/1024,1,0)}+'(kb)'"></td>
                </tr>
                <tr>
                    <td class="left aligned" th:text="已用内存"></td>
                    <td class="left aligned" th:text="${#numbers.formatDecimal(nonHeap.used/1024,1,0)}+'(kb)'"></td>
                </tr>
                <tr>
                    <td class="left aligned" th:text="已分配内存"></td>
                    <td class="left aligned" th:text="${#numbers.formatDecimal(nonHeap.committed/1024,1,0)}+'(kb)'"></td>
                </tr>
            </table>
        </table>
    </div>
    <div class="ui submit button">
        <i class="trash outlin icon"></i>
        <span th:text="释放垃圾内存" th:remove="tag"></span>
    </div>
    <form id="gc" th:action="@{/console/memory/gc}" method="post">
    </form>
</div>
</html>