 <div class="modal-header">
	<h6 class="modal-title">编辑</h6>
</div>
 


<div class="modal-body">
		<form class="form-horizontal" role="form" >
			
			<div class="form-group">
				<label   class="col-sm-2 control-label">SQLID*</label>
					<div class="col-sm-6">
						<input class="form-control input-sm" ng-model="data.sqlId"></input>
					</div>
						<button type="button" class="btn btn-info waves-effect waves-light input-sm" ng-click="createCode()">生成</button>
			</div>
			
			<div class="form-group">
				<label   class="col-sm-2 control-label">别名*</label>
					<div class="col-sm-6">
						<input class="form-control input-sm" ng-model="data.sqlName"></input>
					</div>
			</div>
			
			<div class="form-group">
				<label   class="col-sm-2 control-label">所属分组 *</label>
					<div class="col-sm-6">
						 <selector url="/search/sqlgroup/selector" ctrl="selectorCtrl" text="data.groupText" value="data.groupId"></selector>
					</div>
			</div>
			
			<div class="form-group">
				<label   class="col-sm-2 control-label">数据源 *</label>
					<div class="col-sm-6">
						 <input class="form-control input-sm" ng-model="data.datasource"></input>
					</div>
			</div>
			
			<div class="form-group">
				<label   class="col-sm-2 control-label">缓存数据 *</label>
					<div class="col-sm-6">
						 <input class="form-control input-sm" ng-model="data.cache"></input>
					</div>
			</div>
			
			<div class="form-group">
				<label   class="col-sm-2 control-label">状态 *</label>
					<div class="col-sm-6">
						 <input class="form-control input-sm" ng-model="data.status"></input>
					</div>
			</div>
				
			<div class="form-group">
				<label   class="col-sm-2 control-label">说明*</label>
					<div class="col-sm-6">
						<input class="form-control input-sm" ng-model="data.remark"></input>
					</div>
			</div>
				
			<div class="form-group">
				<label   class="col-sm-2 control-label">SQL*</label>
					<div class="col-sm-10">
						<textarea class="form-control" ng-model="data.selectSql" rows="20"></textarea>
					</div>
			</div>
			
		</form>		
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal"  ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light" ng-click="save()">保存</button>
</div>

<!-- 
jQuery('#datepicker-autoclose').datepicker({
                	autoclose: true,
                	todayHighlight: true
                });
 -->