<div class="container" ng-controller="sqlDefineCtrl">

		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
					<li>系统设置</li>
					<li>查询配置</li>
					<li>SQL定义</li>
				</ol>
			</div>
		</div>

		<!-- start of search row -->
		<form class="form-inline">
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group panel-group-joined" id="accordion-test"> 
					<div class="panel panel-color panel-default"> 
							
							<!-- toolbar start -->
                         	<div class="panel-heading"> 
                                   <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseOne" class="" aria-expanded="true"></a> 
	                                   	<div class="button-list">
                                          		<button type="button" class="btn btn-info waves-effect waves-light" ng-click="openTemplate()">新增</button>
                                        </div>
                                  	
                            </div> 
                            <!-- toolbar end -->
                            
                            <!-- search start -->
                        	<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true"> 
                                 <div class="panel-body">
                                 	
                                 	<div class="row">
                                 	   <div class="form-group">
				                          <label>SQLID</label>
				                           <input class="form-control input-sm"  type="text" placeholder="SQLID"/>
				                       </div>
				                       
				                        <div class="form-group">
				                           <label>别名</label>
				                           <input class="form-control input-sm"  type="text" placeholder="SQLID别名"/>
				                       </div>
				                        <button type="button" class="btn btn-info waves-effect waves-light input-sm" ng-click="search()">查询</button>
				                    </div>
				                       
                                 </div> 
                            </div> 
                             <!-- search end -->
                   </div>
               </div>
			</div>
		</div>
		</form>
		<!-- End of search Row -->


		<!-- start of datagrid -->
		<div class="row">
			<div class="col-md-12">
				<div class="card-box">
					<table class="table table table-hover m-0" data-page-size="7" >
										<thead>
											<tr>
												<th data-sort-ignore="true" class="min-width"></th>
												<th data-sort-initial="true" data-toggle="true">SQLID</th>
												<th>SQLID别名</th>
												<th data-hide="phone">数据源</th>
												<th data-hide="phone, tablet">缓存数据</th>
												<th data-hide="phone, tablet">状态</th>
												<th data-hide="phone, tablet">说明</th>
												<th data-hide="phone, tablet">查询SQL</th>
											</tr>
										</thead>
										
										<tbody>
											<tr ng-repeat="item in pagination.content">
												<td>{{item.sqlId}}</td>
												<td>{{item.sqlName}}</td>
												<td>{{item.groupId}}</td>
												<td>{{item.datasource}}</td>
												<td>{{item.cache}}</td>
												<td>{{item.status}}</td>
												<td>{{item.remark}}</td>
												<td>{{item.selectSql}}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="6">
													<div class="text-right">
															 <pagination  url="/search/sqldefine/list"  data="pagination"  params="queryparams"></pagination>
														</div>
												</td>
											</tr>
										</tfoot>
									</table>
				</div>
			</div>
		</div>
		<!-- end of datagrid -->
		
	<!-- MODEL -->
	<dialog id="editForm" data-remote="/search/sqldefine/edit"></dialog>
</div>
	