<html xmlns:th="http://www.thymeleaf.org">
<div class="">
    <span class="item">位置</span>
    <i class="right angle divider icon"></i>
    <span class="item">查询配置</span>
    <i class="right angle divider icon"></i>
    <span class="item">SQL</span>
</div>
<div class="ui segment">
    <table class="ui celled selectable right aligned table">
    	 <tr>	
                <td class="left aligned" width="30%" th:text="初始内存"> <button class="btn btn-default btn-block text-uppercase waves-effect waves-light" type="submit"></button></td>
                <td class="left aligned" width="70%" th:text="风险投资"></td>
            </tr>
    </table>
</div>
</html>