<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>
<div th:include="ins :: head"></div>
</head>
<body ng-controller="sqlGroupCtrl">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
					<li>系统设置</li>
					<li>查询配置</li>
					<li>SQL组</li>
				</ol>
			</div>
		</div>

		<!-- start of search row -->
		<form >
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group panel-group-joined" id="accordion-test"> 
					<div class="panel panel-default"> 
							
							<!-- toolbar start -->
                         	<div class="panel-heading"> 
                                   <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseOne" class="" aria-expanded="true"></a> 
	                                   	<div class="button-list">
                                          	 <button type="button" class="btn btn-primary waves-effect waves-light"  data-toggle="modal" data-target="#editForm">新增</button>
                                         	 <button type="button" class="btn btn-primary waves-effect waves-light" >查看</button>
                                        </div>
                                  	
                            </div> 
                            <!-- toolbar end -->
                            
                            <!-- search start -->
                        	<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true"> 
                                 <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                 </div> 
                            </div> 
                             <!-- search end -->
                   </div>
               </div>
			</div>
		</div>
		</form>
		<!-- End of search Row -->


		<!-- start of datagrid -->
		<div class="row">
			<div class="col-md-12">
				<div class="card-box">
					<table id="demo-foo-addrow" class="table table table-hover m-0" data-page-size="7">
										<thead>
											<tr>
												<th data-sort-ignore="true" class="min-width"></th>
												<th data-sort-initial="true" data-toggle="true">First Name</th>
												<th>Last Name</th>
												<th data-hide="phone">Job Title</th>
												<th data-hide="phone, tablet">DOB</th>
												<th data-hide="phone, tablet">Status</th>
											</tr>
										</thead>
										
										<!--
										<div class="pad-btm form-inline">
											<div class="row">
												<div class="col-sm-6 text-xs-center">
													<div class="form-group">
														<button class="btn btn-default waves-effect waves-light m-b-20" data-toggle="modal" data-target="#editForm">新增</button>
														<button class="btn btn-danger waves-effect waves-light m-b-20" data-toggle="modal" data-target="#con-close-modal">审核</button>
													</div>
												</div>
											</div>
										</div>
										  -->
										
										<tbody>
											<tr>
												<td>1</td>
												<td>Isidra</td>
												<td>Boudreaux</td>
												<td>Traffic Court Referee</td>
												<td>22 Jun 1972</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td>2</td>
												<td>Shona</td>
												<td>Woldt</td>
												<td>Airline Transport Pilot</td>
												<td>3 Oct 1981</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Granville</td>
												<td>Leonardo</td>
												<td>Business Services Sales Representative</td>
												<td>19 Apr 1969</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td>4</td>
												<td>Easer</td>
												<td>Dragoo</td>
												<td>Drywall Stripper</td>
												<td>13 Dec 1977</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td>5</td>
												<td>Maple</td>
												<td>Halladay</td>
												<td>Aviation Tactical Readiness Officer</td>
												<td>30 Dec 1991</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="6">
													<div class="text-right">
															 <pagination data="{{pagination}}"  search="query()"></pagination>
														</div>
												</td>
											</tr>
										</tfoot>
									</table>
				</div>
			</div>
		</div>
		<!-- end of datagrid -->
	</div>
	
	
	<!-- MODEL -->
	   <div id="editForm" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">新增</h5>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-info waves-effect waves-light">保存</button>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">  

//define angular module/app
 
app.controller('sqlGroupCtrl', function($scope,$http) {
	$scope.pagination = {pageCount:1021,pageSize:20,pageNo:1};
	$scope.query = function(){
		return $scope.pagination;
	};
});
 
 
</script>
</body>
</html>
