 <div class="modal-header">
	<h6 class="modal-title">编辑</h6>
</div>
 
<div class="modal-body">
		<form class="form-horizontal" name="actionForm" >
			<input type="hidden" ng-model="data.id"></input>
			<input type="hidden" ng-model="data.version"></input>
			
			<div class="form-group" ng-repeat="item in fieldList" >
					<ui-label clazz="col-sm-3" content="{{item.title}}" required="item.required"></ui-label>
					<div class="col-sm-6">
						<ui-generate-code data="data[item.field]" ng-if="isType(item.componentType,'GENERATECODE')" required="item.required"></ui-generate-code>
						<input class="form-control input-sm" ng-class="{'ng-required': item.required}" ng-model="data[item.field]"  ng-if="isType(item.componentType,'TEXT')" ng-required="item.required" ng-maxlength="item.length"></input>
						<ui-selector url="{{item.url}}"  data="data"  expand="{{item.expand}}"  ng-if="isType(item.componentType,'SELECTOR')" required="item.required"></ui-selector>
						<textarea class="form-control"  ng-class="{'ng-required': item.required}" ng-model="data[item.field]" ng-if="isType(item.componentType,'TEXTAREA')" ng-required="item.required" ng-maxlength="item.length"></textarea>
						<ui-datepicker class="form-control"  value="data[item.field]" ng-if="isType(item.componentType,'DATEPICKER')" ng-required="item.required"></ui-datepicker>
						<ui-dropdown selected="data[item.field]"  ng-if="isType(item.componentType,'DROPDOWN')" required="item.required" data="item.expand"></ui-dropdown>
 					</div>
			</div>
		</form>		
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal"  ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light" ng-click="save()" ng-disabled="actionForm.$invalid">保存</button>
</div>