 <div class="modal-header">
	<h6 class="modal-title">编辑</h6>
</div>
 
<div class="modal-body">
		<form class="form-horizontal" name="actionForm" >
			<input type="hidden" ng-model="data.id"></input>
			<input type="hidden" ng-model="data.version"></input>
			
			<div class="form-group" ng-repeat="item in fieldList" >
				<label class="col-sm-3 control-label">{{item.title}}</label><span class="text-muted"  ng-if="item.required"> * </span>
					<div class="col-sm-6">
						
						<uigeneratecode data="data[item.field]"  ng-if="item.componentType=='uigeneratecode'"></uigeneratecode>
						
						<input class="form-control input-sm" ng-model="data[item.field]"  ng-if="item.componentType=='text'" ng-required="item.required"></input>
						
						<uibaseselector url="{{item.url}}" data="data"  expand="{{item.expand}}"  ng-if="item.componentType=='selector'"></uibaseselector>
						
						<textarea class="form-control" ng-model="data[item.field]" ng-if="item.componentType=='textarea'" ng-required="item.required"></textarea>
 					</div>
			</div>
		</form>		
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal"  ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light" ng-click="save()" ng-disabled="actionForm.$invalid">保存</button>
</div>