<div class="container">
	
	<div class="row">

		<!-- tree start-->
		<div class="col-md-2" ng-if="treeconfig">
			<uitree class="card-box" setting="treeconfig.setting"></uitree>
		</div>
		<!-- tree end -->


		<!-- start of search row -->

		<div ng-class="{true: 'col-md-12', false: 'col-md-10'}[findtreeconfig()]">
			<form class="form-inline">
				<div class="row">
					<div class="col-md-12">
					
						<div class="panel-group panel-group-joined" >
							<div class="panel panel-color panel-default">

								<!-- toolbar start -->
								<div class="panel-heading">
									<a data-toggle="collapse"  href="#{{toolbar.id}}" aria-expanded="true"></a>
									
									<div class="button-list">
										<button type="button" class="btn btn-info waves-effect waves-light" ng-click="crud(null,item.target)" ng-repeat="item in modelView.buttonData" ng-if="item.type==1">{{item.title}}</button>
									</div>

								</div>
								<!-- toolbar end -->

								<!-- search start -->
								<div id="{{toolbar.id}}" class="panel-collapse collapse in" aria-expanded="true" ng-if="!_.isEmpty(modelView.filterData)">
									<div class="panel-body">

										<div class="row">
										
											<div class="form-group" ng-repeat="item in modelView.filterData" >
												<label>{{item.label}}</label> 
												
												<input class="form-control input-sm" type="text"  ng-model="item.value"/>
												
											</div>
											
											<div class="form-group" >
												<button type="reset" class="btn btn-danger waves-effect waves-light input-sm">重置</button>
											 	<button type="button" class="btn btn-info waves-effect waves-light input-sm" ng-click="grid.search()">查询</button>
											</div>
										</div>
									</div>
								</div>
								<!-- search end -->
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- End of search Row -->


			<!-- start of datagrid -->

			<div class="row">
				<div class="col-md-12">
					<div class="card-box">
						<table class="table table table-hover m-0 table-actions-bar">
							<thead>
								<tr >
									<th ng-repeat="item in modelView.fieldData" >{{item.title}}</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="item in grid.dataList">
									<td ng-if="modelView.option">
									 	<!-- 
										<div class="radio radio-info" ng-if="grid.option == 1" ng-click="rowClick(item,grid.option)"><input type="radio" name="radio5" id="radio" value="option5" checked=""></input><label for="radio"></label></div>
										 -->
										<div class="checkbox checkbox-info checkbox-circle" ng-if="modelView.option == 1" ng-click="rowClick(item,modelView.option)" ng-checked="isChecked(item)"><input type="checkbox" ></input><label for="checkbox"></label></div>
										<div class="checkbox checkbox-info" ng-if="modelView.option == 2" ng-click="rowClick(item,modelView.option)" ng-checked="isChecked(item)"><input type="checkbox"></input><label for="checkbox"></label></div>
									</td>
									<td ng-repeat="field in modelView.fieldData">{{item[field.field]}}</td>
									<td ng-if="!_.isEmpty(grid.funcList)">
                                        <a href="javascript:void(0);" class="table-action-btn" title="{{func.title}}" ng-click="crud(item,func.target)"  ng-repeat="func in modelView.buttonData" ng-if="func.type == 0"><i class="{{func.icon}}"></i></a>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="16">
										<div class="text-right">
											 <pagination id="{{grid.id}}" url="{{grid.url}}" data="grid.dataList" params="parameter"></pagination> 
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end of datagrid -->
	</div>
</div>