<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout" ng-app="app">
<head lang="en">
<div th:include="ins :: head"></div> 

<style>
body {
	background-color: #DADADA;
}

body>.grid {
	height: 100%;
}

.image {
	margin-top: -100px;
}

.column {
	max-width: 450px;
}

.logo {
	text-align: left;
	font-style: italic;
}
</style>
</head>
<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<div class="ui teal logo header">
				<h2>
					<!-- <img src="assets/images/logo.png" class="image"></img> -->
					Sophia.com
				</h2>
			</div>
			<form class="ui large form" ng-controller="formCtrl"  name="loginForm" th:action="@{/login}" method="post">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" placeholder="E-mail address" name="username" ng-model="username" required="required"></input>
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" placeholder="Password" name="password" ng-model="password" required="required"></input>
						</div>
					</div>
					<input type="button" value="登陆" class="ui fluid large teal button" ng-disabled="loginForm.$invalid" ng-click="submit()"/>
				</div>
				
				<div class="ui negative message" th:if="${param.error}">
				  <i class="close icon"></i>
				  <div class="header">登陆无效</div>
				  <p th:text="错误的用户名或密码"></p>
				 </div>
				
				<div class="ui negative message" th:if="${param.logout}">
				  <i class="close icon"></i>
				  <div class="header">退出</div>
				   <p th:text="你已经退出系统了"></p>
				 </div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript">

//define angular module/app
var app = angular.module('app', []);

	// create angular controller and pass in $scope and $http
	app.controller('formCtrl', function($scope) {
	
	//form submit
	$scope.submit = function(){
		 $("Form").submit();
    };
});

//semantic js 
$(function(){
	  $('.message .close').on('click', function(){ $(this).closest('.message').transition('fade'); });
	 $("Form").form({
	        onSuccess: function () {
	            $(this).addClass('loading');
	        } 
	    });
}) 
 
</script>
</html>