<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorator="layout" ng-app="app">
<body>
<th:block layout:fragment="header">
 
</th:block>
<div layout:fragment="content" class="ui page grid">

    <div class="sixteen wide column" ng-controller="NavCtrl">
    
        <div class="ui secondary pointing menu">
            
            <a class="item" ng-repeat="item in nav" href="{{item.url}}">
                <i class="{{item.icon}}"></i><span>{{item.name}}</span>
            </a>
		
			<!-- TODO  -->
            <div class="right menu">
                <div class="ui dropdown item">
                    <i class="user icon"></i>
                    <span sec:authentication="name">user</span>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <a class="item" href="#/system/user"><i class="user icon"></i>
                            <span th:text="个人资料"></span>
                        </a>
                        <a class="item logout"><i class="power icon"></i>
                            <span th:text="退出"></span>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
	 
    <div class="two column row" ng-controller="MenuCtrl">
	    <div class="ui vertical menu" ng-if="flag">
	    	<div class="item" ng-if="menu.length" ng-repeat="item in menu">
			 
				<div class="header" ng-if="item.child.length">{{item.name}}</div>
				
				<div class="menu" ng-if="item.child.length" >
					<a class="item" ng-repeat="child in item.child" href="{{child.url}}">{{child.name}}<i class="{{child.icon}}"></i></a>
				</div>
				
				<div class="menu" ng-if="!item.child.length">
					<a class="item" href="{{item.url}}">{{item.name}}<i class="{{item.icon}}"></i></a>
				</div>
			
			</div>
	    </div>
    	
        <div class="column twelve wide" ng-view=""></div>
    </div>

    <form id="logout" th:action="@{/logout}" method="post"></form>
</div>

<th:block layout:fragment="body-bottom">
    <script type="text/javascript">
        $('.item.logout').on('click', function () {
            $('#logout').submit();
        });
        $('.ui.dropdown').dropdown({action: 'hide'})
    </script>
    <script th:src="@{/webjars/angularjs/1.4.4/angular.min.js}"/>
    <script th:src="@{/webjars/angularjs/1.4.4/angular-route.min.js}"/>
    <script th:src="@{/webjars/angularjs/1.4.4/angular-resource.min.js}"/>
    <script th:src="@{/static/js/app.js}"/>
    <script th:src="@{/static/js/controller.js}"/>
</th:block>
</body>
</html>