 <!-- 
 <div class="modal-header">
	<h6 class="modal-title">编辑</h6>
</div>
 -->
<div class="modal-body panel">
		<input type="hidden" ng-model="data.id"></input> 
		<input type="hidden" ng-model="data.version"></input>
	<form class="form-horizontal" name="actionForm">
		<ul class="nav nav-pills m-b-30">
             <li class="active">
                 <a href="#basic" data-toggle="tab" aria-expanded="true">基本信息</a> 
             </li> 
             <li class=""> 
                  <a href="#fields" data-toggle="tab" aria-expanded="true">显示列表</a> 
             </li> 
             <li class=""> 
                  <a href="#conditions" data-toggle="tab" aria-expanded="true">查询列表</a> 
             </li> 
             <li class=""> 
                  <a href="#buttons" data-toggle="tab" aria-expanded="true">按钮列表</a> 
             </li> 
             <li class=""> 
                  <a href="#treesetting" data-toggle="tab" aria-expanded="true">树设置</a> 
             </li> 
         </ul> 
         <div class="tab-content"> 
             <div class="tab-pane active" id="basic"> 
             	<div class="form-group" ng-repeat="item in fieldList" >
					<label class="col-sm-3 control-label">{{item.title}}</label><span class="text-muted"  ng-if="item.required"> * </span>
						<div class="col-sm-6">
							<uigeneratecode data="data[item.field]"  ng-if="item.componentType=='uigeneratecode'"></uigeneratecode>
							<input class="form-control input-sm" ng-model="data[item.field]"  ng-if="item.componentType=='text'" ng-required="item.required"></input>
							<uibaseselector url="{{item.url}}" data="data"  expand="{{item.expand}}"  ng-if="item.componentType=='selector'"></uibaseselector>
							<textarea class="form-control" ng-model="data[item.field]" ng-if="item.componentType=='textarea'" ng-required="item.required"></textarea>
	 					</div>
				</div>
             </div> 
             <div class="tab-pane" id="fields">
             	
             	<div class="form-group">
 						<div class="col-sm-6">
						 	<button type="button" class="btn btn-info waves-effect waves-light" ng-click="createFieldData()" >生成列表</button>
	 					</div>
 						<div class="col-sm-12">
						  	 <pagination id="{{fieldGrid.id}}" data="fieldGrid.dataList" params="parameter"></pagination> 
	 					</div>
				</div>
             
             </div> 
             <div class="tab-pane" id="conditions">
             </div> 
             <div class="tab-pane" id="buttons">
             </div> 
             <div class="tab-pane" id="treesetting">
             </div> 
         </div> 
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect"
		data-dismiss="modal" ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light"
		ng-click="save()" ng-disabled="actionForm.$invalid">保存</button>
</div> 