<div class="modal-body">
	<form class="form-horizontal" name="actionForm">
		<input type="hidden" ng-model="data.id"></input> <input type="hidden"
			ng-model="data.version"></input>

		<ul style="width: 100%;" class="nav nav-tabs tabs">
			<li style="width: 20%;" class="tab active">
				<a class="active" href="#basic" data-toggle="tab" aria-expanded="true">
					<span class="visible-xs"><i class="fa fa-home"></i></span> 
					<span class="hidden-xs">基本信息</span>
				</a>
			</li>
			<li style="width: 20%;" class="tab">
				<a class="" href="#fields" data-toggle="tab" aria-expanded="false">
					<span class="visible-xs"><i class="fa fa-user"></i></span> 
					<span class="hidden-xs">显示列表</span>
				</a>
			</li>
			<li style="width: 20%;" class="tab">
				<a class="" href="#conditions" data-toggle="tab" aria-expanded="false">
					<span class="visible-xs"><i class="fa fa-envelope-o"></i></span> 
					<span class="hidden-xs">查询列表</span>
				</a>
			</li>
			<li style="width: 20%;" class="tab">
				<a class="" href="#buttons" data-toggle="tab" aria-expanded="false">
					<span class="visible-xs"><i class="fa fa-cog"></i></span> 
					<span class="hidden-xs">按钮列表</span>
				</a>
			</li>
			<li style="width: 20%;" class="tab">
				<a class="" href="#treeset" data-toggle="tab" aria-expanded="false">
					<span class="visible-xs"><i class="fa fa-cog"></i></span> 
					<span class="hidden-xs">树设置</span>
				</a>
			</li>
			<div style="right: 602px; left: 0px;" class="indicator"></div>
		</ul>
		<div class="tab-content">
			<div style="display: block;" class="tab-pane active" id="basic">
				 
			</div>
			<div style="display: none;" class="tab-pane" id="fields">
				 
			</div>
			<div style="display: none;" class="tab-pane" id="conditions">
				 
			</div>
			<div style="display: none;" class="tab-pane" id="buttons">
				 
			</div>
			<div style="display: none;" class="tab-pane" id="treeset">
				 
			</div>
		</div>

	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect"
		data-dismiss="modal" ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light"
		ng-click="save()" ng-disabled="actionForm.$invalid">保存</button>
</div>