 <!-- 
 <div class="modal-header">
	<h6 class="modal-title">编辑</h6>
</div>
 -->
<div class="modal-body bg">
		<input type="hidden" ng-model="data.id"></input> 
		<input type="hidden" ng-model="data.version"></input>
	<form class="form-horizontal" name="actionForm">
		<ul class="nav nav-tabs tabs">
             <li class="active tab">
                 <a href="#basic" data-toggle="tab" aria-expanded="false"> 
                     <span class="visible-xs"><i class="fa fa-home"></i></span> 
                     <span class="hidden-xs">基本信息</span> 
                 </a> 
             </li> 
             <li class="tab"> 
                 <a href="#fields" data-toggle="tab" aria-expanded="false"> 
                     <span class="visible-xs"><i class="fa fa-user"></i></span> 
                     <span class="hidden-xs">显示列表</span> 
                 </a> 
             </li> 
             <li class="tab"> 
                 <a href="#conditions" data-toggle="tab" aria-expanded="true"> 
                     <span class="visible-xs"><i class="fa fa-envelope-o"></i></span> 
                     <span class="hidden-xs">查询列表</span> 
                 </a> 
             </li> 
             <li class="tab"> 
                 <a href="#buttons" data-toggle="tab" aria-expanded="false"> 
                     <span class="visible-xs"><i class="fa fa-cog"></i></span> 
                     <span class="hidden-xs">按钮列表</span> 
                 </a> 
             </li> 
             <li class="tab"> 
                 <a href="#treesetting" data-toggle="tab" aria-expanded="false"> 
                     <span class="visible-xs"><i class="fa fa-cog"></i></span> 
                     <span class="hidden-xs">树设置</span> 
                 </a> 
             </li> 
         </ul> 
         <div class="tab-content"> 
             <div class="tab-pane active" id="basic"> 
             	<div class="form-group" ng-repeat="item in fieldList" >
					<label class="col-sm-3 control-label">{{item.title}}</label><span class="text-muted"  ng-if="item.required"> * </span>
						<div class="col-sm-6">
							<uigeneratecode data="data[item.field]"  ng-if="item.companyType=='uigeneratecode'"></uigeneratecode>
							<input class="form-control input-sm" ng-model="data[item.field]"  ng-if="item.companyType=='text'" ng-required="item.required"></input>
							<uibaseselector url="{{item.url}}" data="data"  expand="{{item.expand}}"  ng-if="item.companyType=='selector'"></uibaseselector>
							<textarea class="form-control" ng-model="data[item.field]" ng-if="item.companyType=='textarea'" ng-required="item.required"></textarea>
	 					</div>
				</div>
             </div> 
             <div class="tab-pane" id="fields">
             </div> 
             <div class="tab-pane" id="conditions">
             </div> 
             <div class="tab-pane" id="buttons">
             </div> 
             <div class="tab-pane" id="treesetting">
             </div> 
         </div> 
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default waves-effect"
		data-dismiss="modal" ng-click="cancel()">取消</button>
	<button type="button" class="btn btn-info waves-effect waves-light"
		ng-click="save()" ng-disabled="actionForm.$invalid">保存</button>
</div> 